* {
    box-sizing: border-box;
}

body {
    /* Default from CRA */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    /* Default from CRA */
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

main {
    background-color: rgb(255, 147, 93);
    font-family: 'IM Fell DW Pica', serif;
    font-size: 200%; 

    text-align: center;
    margin-inline: 35px;
    padding: 20px;
}

.danger-level {
    font-family: 'Alumni Sans Inline One', sans-serif;
}

.too-late {
    font-family: 'Rubik Glitch', sans-serif;
}

.main-img {
    width: 120px;
}

nav {
    background-color: rgb(96, 0, 0);
    color:rgba(254, 179, 58, 0.79);

    font-family: 'IM Fell DW Pica', cursive;
    font-style: italic;

    display: flex;
    justify-content: space-around;

    padding-inline: 10px;
}

.title {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.subtitle {
    align-self: flex-end;
}

.nav-items {
    list-style: none;
    font-style: italic;
    font-weight: bolder;
    font-size: 1.1em;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    color:rgb(255, 195, 195);
}

.nav-items > li {
    padding: 10px;
}

footer {
    background-color: rgb(207, 196, 177);
    font-size: small;

    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}