body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

.nav-items {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-items > li {
    padding: 10px;
}

.prediction-zone > {
    /* can't tell yet if this part does anything */
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
}